.App {
	background: #0d1014;
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

main section {
	margin-bottom: 100px;
}

.section-1 {
	height: 100vh;
	margin-top: 0;
	align-items: flex-start;
}

.width-50 {
	width: 50%;
}

.flex-section,
.custom-card-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
	.flex-section,
	.custom-card-container {
		display: block;
	}

	.section-1 {
		height: auto;
	}

	.section-1 .button-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.width-50 {
		width: 100%;
		margin-top: 50px;
	}

	.section-3 {
		display: flex;
		flex-direction: column-reverse;
	}

	.section-3 .img-container {
		margin-top: 0;
	}

	.section-3 .button-container button,
	.section-4 .button-container button {
		display: block;
		margin: 0 auto;
	}

	.section-3 .button-container .lightButton,
	.section-4 .button-container .lightButton {
		margin-bottom: 15px;
	}
}
